[include]
	path = .gitconfig.local
[core]
	editor = vim
[alias]
	lg = log --abbrev-commit --decorate --format=format:'%C(auto,bold yellow)%h %C(auto,bold magenta)%G? %C(auto,bold blue)%>(14,trunc)%ar %C(auto,bold green)%<(11,trunc)%aN %C(auto,reset)%<(50,trunc)%s %C(auto,red)%D'
	tree = log --graph --abbrev-commit --decorate --format=format:'─┬─▶ %C(auto,bold yellow)%h %C(auto,magenta)%G? %C(auto,bold blue)%>(14,trunc)%ar %C(auto,bold green)%<(25,trunc)%aN% %C(auto,bold red)%D%C(reset)%n'' %C(white)└──▶ %<|(60,trunc)%s%C(reset)%n''' --all
	unstage = reset HEAD --
[commit]
	gpgsign = true
[pager]
	branch = false
